@use "../../styles" as *;

.statusWrapper {
  position: relative;
}

.status {
  @include fonts($fw: 500, $color: #a2a2a2);
  min-width: 156px;
  font-family: $second-family;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  padding: 8px 10px;

  appearance: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 8px;
  right: 10px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  pointer-events: none;
}
