@use "../styles/variables" as *;
@use "../styles/mixins" as *;

:root {
  --font-main: #{$font-family};
  --font-second: #{$second-family};
}

body {
  font-family: $font-family;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-theme-alpine {
  @include border;
  --ag-font-family: #{$font-family};
  --ag-row-height: 60px;
  padding: 0;

  .ag-header {
    @include fonts($fw: 600);
    background-color: #f5f5f5;
  }

  .ag-column-first {
    @include flex-center;
  }

  .ag-header-cell-label {
    justify-content: center;
  }

  .ag-cell {
    @include flex-center;
    @include fonts(14px);
  }
}
